# For trying stuff out
scratch.*
# PyPi
dist/
build/
# Google Drive
desktop.ini
# Python environment
.venv*
venv*
__pycache__
.pytest-cache
# VS Code
.idea
.code-profile
.vscode
*.code-workspace
# Built documentation (published to gh-pages by the workflow ./github/workflows/docs.yml)
docs/
# PIP
.pdm-build
*.egg-info
